<h2>Update {{task.taskName}}</h2>

<p>Task Name</p>
<input type="text" id="TaskName{{Id}}" value="{{task.taskName}}" />
<br>

<p>Task Description</p>
<input type="text" id="TaskDescription{{Id}}" value="{{task.taskDescription}}" />
<br>

<p>Task AssignedTo</p>
<input type="text" id="AssignedTo{{Id}}" value="{{task.assignedTo}}" />
<br>
<p>Due Date</p>
<input type="date" id="DueDate{{Id}}" value="{{task.dueDate}}" />
<br>
<p>Is Completed</p>
<br>
<input type="checkbox" id="IsCompleted{{Id}}" value="{{task.isCompleted}}" />
<button (click)="UpdateTask()">Update {{task.taskName}}</button>





